[mcu leveling_mcu]
serial: /dev/ttyS9
baud: 230400
restart_method: command

[load_cell prtouch0]  # likely front-left / SUD-OVEST
sensor_type: hx711
sclk_pin: leveling_mcu:PA7
dout_pin: leveling_mcu:PA4

counts_per_gram: 106.5
reference_tare_counts: -192989
sensor_orientation: inverted

[load_cell prtouch1]  # likely front-right / SUD-EST
sensor_type: hx711
sclk_pin: leveling_mcu:PA6
dout_pin: leveling_mcu:PA3

counts_per_gram: 108.85
reference_tare_counts: -88777
sensor_orientation: inverted

#[load_cell prtouch2]  # likely rear-left / NORD-OVEST
#sensor_type: hx711
#sclk_pin: leveling_mcu:PA2
#dout_pin: leveling_mcu:PA0

[load_cell prtouch3]  # likely rear-right / NORD-EST
sensor_type: hx711
sclk_pin: leveling_mcu:PA5
dout_pin: leveling_mcu:PA1

counts_per_gram: 81.08
reference_tare_counts: -144153
sensor_orientation: inverted

[mdf_loadcell_probe]
sensor_type: hx711
sclk_pin: leveling_mcu:PA2
dout_pin: leveling_mcu:PA0

counts_per_gram: 91.2
reference_tare_counts: 337000
sensor_orientation: inverted

trigger_force: 200
force_safety_limit: 500
tare_time: 1.0

x_offset: 0
y_offset: 0
z_offset: 0


[gcode_macro LOAD_CELL_FORCE]
gcode:
    LOAD_CELL_READ LOAD_CELL=load_cell_probe

[gcode_macro LOAD_CELL_PROBE_COARSE]
gcode:
    LOAD_CELL_PROBE PROBE_SPEED=2 TRIGGER_FORCE=90

[gcode_macro LOAD_CELL_PROBE_FINE]
gcode:
    LOAD_CELL_PROBE PROBE_SPEED=0.5 TRIGGER_FORCE=90

[gcode_macro LOAD_CELL_Z_TOUCH]
gcode:
    G91
    G1 Z5 F600
    G90

    ; assestamento
    LOAD_CELL_TARE
    G4 P500
    LOAD_CELL_PROBE PROBE_SPEED=0.5 TRIGGER_FORCE=90

    G91
    G1 Z5 F600
    G90
    G4 P1000

    ; touch valido
    LOAD_CELL_TARE
    G4 P500
    LOAD_CELL_PROBE PROBE_SPEED=0.5 TRIGGER_FORCE=90

    G92 Z0

    G91
    G1 Z2 F600
    G90


[load_cell_pyprobe]

